
<raul-container class="wid-70 r-my-4">
<form>
  <div class="r-flex r-mb-4">
    <div class="r-w-1/5 ">
      <raul-input label="First Name"  class="r-mr-2">
        <input type="text" placeholder="Enter First Name" />
      </raul-input>
    </div>
    <div class="r-w-1/5 ">
      <raul-input label="Middle Name"  class="r-mr-2">
        <input type="text" placeholder="Enter Middle Name" />
      </raul-input>
    </div>
    <div class="r-w-1/5">
      <raul-input label="Last Name" class="r-mr-2">
        <input type="text" placeholder="Enter Last Name" />
      </raul-input>
    </div>
    <div class="r-w-1/5">
      <raul-input label="UserName"  class="r-mr-2">
        <input type="text" placeholder="Placeholder text" />
      </raul-input>
    </div>
    <div class="r-w-1/5">
      <raul-select label="Product" placeholder="Select Product" [options]="selectProducts"
      formControlName="productType"></raul-select>

    </div>
  </div>

</form>

</raul-container>


<raul-container class="wid-70">




  <form [formGroup]="claimForm" novalidate (ngSubmit)="onSubmit()">



    <div>

      <div formArrayName="PRODUCT">
        <div *ngFor="let phase of phaseArray.controls; let i = index;" [formGroupName]="i">
          <div class="r-flex r-mb-4 product-block">

            <div class="r-flex r-w-5/6 r-pr-3">
              <div class="r-w-1/3 r-pr-3">
                <raul-select label="Product" placeholder="Select Product" [options]="selectProducts"
                  formControlName="productType"></raul-select>
              </div>
              <div class="r-w-1/3 r-pr-3">
                <raul-input label="Username">
                  <input type="text" placeholder="Enter Username" formControlName="productUsername" />
                </raul-input>
              </div>
              <div class="r-w-1/3 r-pr-3">
                <raul-input label="Password">
                  <input type="password" value="password" placeholder="Enter Password"
                    formControlName="productPassword" />
                </raul-input>
              </div>
            </div>
            <div class="r-w-1/6 r-pr-3">

              <raul-button *ngIf="!isloginLoading" variant="secondary" class="r-mt-6 r-block" (click)="validateProduct(i)"> Validate
              </raul-button>
              <div class="r-relative loader-block">
                <raul-container-loader id="container-loader-example" *ngIf="isloginLoading"></raul-container-loader>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
    <br>
    <raul-button variant="text" (click)="addMorePhase()">+ Add Product </raul-button>
    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
  </form>
</raul-container>

<div class="footer text-right">

  <raul-button variant="primary" class="r-mt-6 r-mr-5"> Continue </raul-button>
</div>