<div class="r-px-6 r-py-6 md:r-py-10 md:r-px-10">
  <div class="r-w-full md:r-w-1/3">
    <div class="r-flex r-items-end r-py-3">
      <div class="r-flex-1">
        <span class="r-heading-lg">User Claims</span>
      </div>
    </div>
    <raul-simple-table striped>
      <table>
        <tbody>
          <tr *ngFor="let claim of claims">
            <td>
              {{ claim.name }}
            </td>
            <td class="r-font-semibold">
              {{ claim.value }}
            </td>
          </tr>
        </tbody>
      </table>
    </raul-simple-table>
  </div>
</div>

